<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.common.dao.mapper.TestMapperExt" >
  <resultMap id="BaseResultMap" type="com.common.dao.entity.Test" >
    <id column="test_id" property="testId" jdbcType="VARCHAR" />
    <result column="test_name" property="testName" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="TINYINT" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    test_id, test_name, is_del, uuid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from test
    where test_id = #{testId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from test
    where test_id = #{testId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.common.dao.entity.Test" >
    insert into test (test_id, test_name, is_del, 
      uuid)
    values (#{testId,jdbcType=VARCHAR}, #{testName,jdbcType=VARCHAR}, #{isDel,jdbcType=TINYINT}, 
      #{uuid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.common.dao.entity.Test" >
    insert into test
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="testId != null" >
        test_id,
      </if>
      <if test="testName != null" >
        test_name,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="testId != null" >
        #{testId,jdbcType=VARCHAR},
      </if>
      <if test="testName != null" >
        #{testName,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=TINYINT},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.common.dao.entity.Test" >
    update test
    <set >
      <if test="testName != null" >
        test_name = #{testName,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=TINYINT},
      </if>
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
    </set>
    where test_id = #{testId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.common.dao.entity.Test" >
    update test
    set test_name = #{testName,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=TINYINT},
      uuid = #{uuid,jdbcType=VARCHAR}
    where test_id = #{testId,jdbcType=VARCHAR}
  </update>
</mapper>